h1{
    margin: 0px;
}
h3{
    margin: 0px;
}
h4{
    margin: 0px;
}
h6{
    margin: 0px;
}
.full{
    display: flex;
    width: 100%;
    margin-top: 6.313vh;
    margin-bottom: 0px;

}
.picDiv{
    width: 50%;
}
.infoDiv{
    width: 50%;
    margin-left: 2.941vw;
    overflow: hidden;
}
.seperator{
    width: 740px;
    height: 2px;
    background: #DEE2E6;
    margin: 20px 0px 20px 0px;
}
.descriptionDiv{
    display: flex;
    flex-direction: column;
    width:70%;
}
.descriptionDiv h1{
    
    font-family: 'Anek Kannada';
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    line-height: 8.101vh;
    color: #343A40;
}

.descriptionDiv h4{
    font-family: 'Anek Kannada';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 5.051vh;
    color: #6C757D;}

.descriptionDiv p{
        
    font-family: 'Anek Kannada';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 3vh;
    color: #6C757D;
    margin: 0px;}
.priceDiv{

}

.priceDiv h1{ 
    font-family: 'Anek Kannada';
    font-style: normal;
    font-weight: 500;
    font-size: 2.188rem;
    line-height: 5.313vh;
    color: #495057;
}
.priceDiv h6{ 
    font-family: 'Anek Kannada';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 3.167vh;
    color: #6C757D;
}
.colorDiv {}
.colorDiv h1{
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.263vh;
    color: #495057;
    margin-bottom: 2.525vh;
}
.colorSelectors{
    display: flex;
    gap: 1.042vw;
}
.colorSelect{
    width: 2.604vw;
    height: 5.051vh !important;
    border: 0px;
    background: #8E8162;
    border-radius:50% ;
}
.colorSelect:hover{
    cursor: pointer;
}

.quantityDiv{
    width: 70%;
    
}
.quantityDiv h1{
    
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.662vh;
    color: #495057;
    margin-bottom: 3.662vh;
    
}
.quantitySelector{
    display: flex;
    align-items: center;
    gap: 1.953vw;
}
.quantityText h4{
    font-family: 'Anek Kannada';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 5.051vh;
    color: #6C757D;
}
.quantityText h3{
    font-family: 'Anek Kannada';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 5.051vh;
    color: #343A40;
    
}
.quantityDecrement{
    width: 3.255vw;
    height: 5.682vh !important;
    border: 1px solid #E9ECEF;
    border-radius: 00px 40px 40px 0px;
    transform: matrix(-1, 0, 0, 1, 0, 0);


}
.quantityDecrement:hover{
    cursor: pointer;
}
.quantity{
    width:4.883vw;
    text-align: center;
    font-size: 2.25rem;
}
.quantityIncrement{
    width: 3.255vw;
    height: 5.682vh !important;
    border: 1px solid #E9ECEF;
    border-radius: 40px 0px 0px 40px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    text-align: center;

    
}
.quantityDecrement h1{
    margin-bottom: 0px;
    font-size: 2.25rem;
}
.quantityIncrement h1{
    margin-bottom: 0px;
    font-size: 2.25rem;
}
.quantityIncrement:hover{
    cursor: pointer;
    
}
.quantiyValue{
    display: flex;
    height: 5.682vh;
}
.quantityText{
    display: flex;
    gap: 0.651vw;
}
.submitionDiv{
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: flex-end;

    margin-top: 40px;

}
.cartButton {
    border: 1px solid #2F45C5;
    border-radius: 10px;
    width:20%;
    height:6.313vh !important;
}
.cartButton h1{
    font-family: 'Anek Kannada';
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 4.419vh;
    color: #2F45C5;
}
.purchaseButton{
    background: #2F45C5;
    border-radius: 10px;
    width:20%;
    height:6.313vh !important;
    margin-right:4.883vw;
}
.purchaseButton h1{
    font-family: 'Anek Kannada';
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 4.419vh;
    color: #FFFFFF;

}
.cartButton:hover{
    cursor: pointer;

}
.purchaseButton:hover{
    cursor: pointer;
}
.cartButton:active{
    background-color: #c6c6c6;

}
.purchaseButton:active{
    cursor: pointer;
    background-color: #435adc;
}
